body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.caixa {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/sylveon.png);
    color: white;
    border-radius: 16%;
}

#cor-nome {
    font-size: 2em;
    color: transparent;
    position: relative;
    text-align: center;
}

#cor-nome::before {
    content: "Cinza";
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 72px;
    font-family: Cambria;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f0f0f0;
    font-weight: bolder;
}

@media (min-width: 1px) and (max-width: 420px) {
    .caixa {
        background-image: url(./img/sylveon.png)
        
    }

    #cor-nome::before {
        content: "Cinza";
        
    }
}

@media (min-width: 421px) and (max-width: 768px) {
    .caixa {
        background-image: url(./img/eevee.png)
        
    }

    #cor-nome::before {
        content: "Laranja";
        color: rgb(165, 91, 42);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .caixa {
        background-image: url(./img/Espeon.png);
    }

    #cor-nome::before {
        content: "Rosa";
        color:rgb(161, 19, 154);
    }
}

@media (min-width: 1025px) and (max-width: 1080px) {
    .caixa {
        background-image: url(./img/flareon.png);
    }

    #cor-nome::before {
        content: "Vermelho";
        color:brown;
    }
}

@media (min-width: 1081px) and (max-width: 1366px) {
    .caixa {
        background-image: url(./img/vaporeon.png);
    }

    #cor-nome::before {
        content: "Azul";
        color: rgb(12, 117, 146);
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {
    .caixa {
        background-image: url(./img/jolteon.png);
    }

    #cor-nome::before {
        content: "Amarelo";
        color: rgb(227, 84, 18);
    }
}

@media (min-width: 1921px) {
    .caixa {
        background-image: url(./img/leafeon.png);
    }

    #cor-nome::before {
        content: "Verde";
    }
}
